@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
}

.background {
    background-image: url("../img/default.jpg");
    /*background-repeat: no-repeat;*/
    background-position: center center;
    background-size: cover;
    /*background-attachment: fixed;*/
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: crimson;
    flex: 1;
}

body {
    color: white;
    background-image: url("../img/default.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    height: 100%;

}

#input-row {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.viewport {

    height: 100vh;
}

#main-temp p {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
}

.forecast {
    margin: 12px;
    background-color: rgba(150, 196, 242, 0.5);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#current-row {
    font-size: 20px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#current-row p.current-temp {
    font-size: 90px;
    line-height: 100px;
    margin-bottom: 24px;
}

#current-row p.current-date {
    margin-bottom: 10px;
}

#current-row p.location {
    font-size: 35px;
    margin-bottom: 22px;
}

#forecast-row {
    margin-top: 40px;
}

.daily-min-max {
    font-size: 24px;
}

#search-field {
    border: none;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    width: 250px;
}

#search-btn {
    border: none;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    width: 170px;
    background-color: rgba(150, 196, 242, 0.5);
    color: white;
    height: 36px;
}

#search-btn:hover {
    background-color: #007bff;
}

/*#toggle {*/
/*    border: none;*/
/*    text-align: center;*/
/*    border-radius: 20px;*/
/*    margin: 5px;*/
/*    padding: 5px;*/
/*    width: 170px;*/
/*    background-color: rgba(150, 196, 242, 0.5);*/
/*    color: white;*/
/*}*/

.form-check {
    width: 300px;
    display: inline;
}

label {
    vertical-align: initial !important;
}

.btn-primary {
    background-color: rgba(150, 196, 242, 0.5);
    border: none;
    border-radius: 20px;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #007bff;
}

.hidden {
    display: none !important;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
    font-weight: 300;
}